@model Diogo.AT.Domain.Contato.TelefoneMO

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Adicionar Telefone ao contato</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger text-alerta" })

    <div class="row col-6">
        <div class="col-md-2 mb-3">
            @Html.LabelFor(model => model.DDD, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.DDD, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.DDD, "", new { @class = "text-danger text-alerta" })
            </div>
        </div>
        <div class="col-md-4 mb-3">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" ,@type ="number"} })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger text-alerta" })
            </div>
        </div>

        <div class="col-md-5 mb-3">
            @Html.Label("Classificação", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EnumDropDownListFor(model => model.Classificacao, "Selecione...",htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Classificacao, "", new { @class = "text-danger text-alerta" })
            </div>
        </div>
    </div>

    <div class="row col-6">
        <div class="col-md-8 mb-3">
            @Html.ActionLink("Adicionar Emails", "CreateEmail", new { id = ViewBag.IdContato }, htmlAttributes: new { @class = "btn btn-default float-right" })
        </div>

        <div class="col-md-3 mb-3">
            <input type="submit" value="Adicionar" class="btn btn-primary float-right" />
            <input type="hidden" value="@ViewBag.IdContato" name="IdContato" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Listar os meus contatos", "Index", "", htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}
